@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

@import url("../node_modules/primeflex/primeflex.css");

@import url("assets/theme.scss");

:root {
  --header-size: 58px;
  --sidebar-size: 15em;
}

body {
  margin: 0px;
}

.layout-main {
  margin-left: var(--sidebar-size);

  &__container {
    padding: 2em;
  }
}

